.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fixed-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 20px;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed-header nav {
  display: flex;
  gap: 20px; /* Increased margin between navigation links */
}

.fixed-header nav a {
  color: #7c83fd; /* Changed to match the website color theme */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.fixed-header nav a:hover {
  color: #6268ca; /* Darker shade for hover effect */
}

.scrollableContent {
  flex-grow: 1;
  padding: 1rem;
}

.footer {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
